/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*body*/
.wrap{
    width: 1200px;
    margin: 0 auto;
    font-size: 13px;
    font-family: Microsoft JhengHei;
}
.wrap h2{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.wrap h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 6px;
}
.wrap h4{
    font-size: 15px;
    margin-bottom: 6px;
}
/*Facebook*/
.Facebook ,.Facebook a{
    text-align: right;
    background-color: #f4f4f4;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 3px;
    font-size: 16px;
}
.Facebook a:hover{
    color: #009872;
}

/*logo*/
.logo , .logo ul , .logo ul a{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-size: 20px;
    margin-left: 24px;
    text-decoration: none;
    border: 0px none;
    color: #78d1bf;
}
.logo ul a:hover{
    color: #78d1bf;
    box-shadow: 0px 5px 1px #78d1bf;
}

/*header*/
.header{
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
    background-size: cover;
    font-size: 32px;
    color: #ffffff;
    padding: 82px 0 82px 0px;
    margin-bottom: 34px;
}
.header h1{
    margin: 15px;
}

/*content*/
.content{
    margin-bottom:60px;
}
.content ul{
    display: flex;
    justify-content: space-evenly;

}
.content li {
    padding: 25px;
    align-items: center;
    width: 300px;
    line-height: 15px;
    border-left:0 1px 1px 1px;
    box-shadow: 0 8PX 5PX #718093;
}
.content_list ul{
    display: block;
    flex-direction: column;
    padding-left:  30px;  
}
.content_list li{ 
    list-style-type: disc;
    padding: 0px;
    box-shadow: 0 0 0 0;
}

/*  table  */
.content_sheet table td , .content_ta_list td{
    width: 300px;
    padding: 12px;
}
.content_sheet tr{
    border-bottom: 1px solid;
    border-color: rgba(12, 11, 11, 0.162) ;
} 

/*formbox*/
.formbox{
    background: linear-gradient(#00644b, #009872);
    padding-top:10px ;
    color: #ffffff;
    margin-top :60px ;
}
.formbox ul{
    display: flex;
    justify-content:center ;
   
}
.formbox li{
     margin: 20px;
}
.formbox textarea{
    width: 450px; 
    height: 200px;
    border: 3px solid #801a87;
    border-radius: 5PX;  
}
/*flex*/
.formbox_list {
    height: 200px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.big{
    width: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid #801a87;
    border-radius: 5PX;
}
/*送出*/
.put input{
    width: 120px; 
    height: 30px;
    background-color: rgb(217, 223, 33);
    border-color:rgb(217, 223, 33) ;
    box-shadow: 0 0 5px rgb(0, 208, 255);
}

/*last*/
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px ;
    margin-bottom: 20px ;
}
.last li{
    margin-right: 5px ;
}
.last li a:hover{
    color: #004466;
}
